*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}


.bg-image {
  height: 50%;
  background-position: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: orange;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: green;
}
.navbar-light .navbar-nav .nav-item .nav-link:active{
  color: red;
}

.aside .p-5 .btn-danger {
  background-color: orange;
  border-color: orange;
}

.aside .p-5 .btn-danger:hover {
  background-color: green;
 cursor: pointer;
 border: green;
}

.gallery_section .d-flex .card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.gallery_section .d-flex .card .btn-primary {
  background-color: orange;
  border-color: orange;
}

.gallery_section .d-flex .card .btn-primary:hover {
  background-color: green;
  cursor: pointer;
  border: green;
}